.about {
    @media (max-width: $narrow-breakpoint) {
        flex-direction: column;
    }
    > img:first-of-type {
        @media (min-width: $narrow-breakpoint) {
            max-height: 350px;
        }
        @media (max-width: $narrow-breakpoint) {
            width: 100%;
        }
    }
    .contact-info {
        margin-top: 35px;
        > * {
            margin-bottom: 15px;
        }
        > h2 {
            font-weight: 200;
            @media (max-width: $narrow-breakpoint) {
                text-align: end;
            }
        }
        svg {
            width: 20px;
            height: auto;
            margin-inline-end: 10px;
        }
        a {
            font-weight: 500;
            color: $clr1;
        }
    }
}
