// Colors
$clr1: #13acca;
$clr2: #c51162;
$clr3: #4cbfb5;
$clr4: #a117ce;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1024px;

// Various
$header-height: 100px;
