.app-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: $header-height;
    background-color: white;
    font-size: 1.15em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color 0.5s;
    z-index: 10;

    &.on-top {
        border-bottom: none;
        background-color: transparent;
        color: white;
        .logo {
            filter: brightness(0) invert(1);
        }
    }

    section {
        height: inherit;
        .logo-container {
            .logo {
                background: url("../assets/imgs/book-logo.png");
                background-size: contain;
                height: 50px;
                width: 50px;
                margin-inline-end: 20px;
            }
        }
        p {
            font-size: 1.75em;
        }
        li a {
            transition: color 0.1s, font-weight 0.1s;
            &.active-link {
                color: #778899;
                font-weight: 500;
                &::before {
                    content: "• ";
                }
            }
        }
    }
}
