.user-msg {
    background-color: white;
    position: fixed;
    bottom: 5%;
    left: 5%;
    height: 80px;
    width: 350px;
    padding-inline-start: 20px;
    border-radius: 5px;
    font-size: 1.25em;
    z-index: 1;

    img {
        height: 35px;
        width: 35px;
        margin-inline-end: 15px;
    }
    button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background-color: transparent;
    }

    &.success {
        background-color: #7cc18d;
    }
    &.failure {
        background-color: #d47a7a;
    }
    &.warning {
        background-color: #ccc163;
    }
    &.info {
        background-color: #a1c6d6;
    }
}
